html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: aqua;
}
#main {
    background-color: green;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button {
   position:relative;
}

